header{
    background: var(--verde1);
    height: 80px;

    display: flex;
    align-items: center;

}

.div_headerPosition{

    display: flex;
    justify-content: space-between;
    align-items: center;


}



header nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1120px;
}


.menu_barras{
    display: none;
}

.menu_barras svg{
    fill: var(--branco);
    height: 40px;
}


header nav a{
    font-family: var(--font1);
    color: var(--branco);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}



.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EAF207;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  


.btn_entrar, .btn_enviar, .btn_cadastrar{
    border: 3px solid var(--branco);
    border-radius: 30px;
    padding: 0 50px;
    background-color: var(--verde1);
}

.btn_entrar:hover, .btn_enviar:hover, .btn_cadastrar:hover{
    background-color: #EAF207;
    color: black;
}



/* MEDIAS  */
@media screen and (max-width: 1072px) {
    header{
        position: relative;
    }
    .div_headerPosition{
        display: flex;
        justify-content: space-between;
    }

    .menu_barras{
        display: flex;
    }

    #menu_links{
        display: none;
        flex-direction: column;

        position: absolute;
        align-items: center;

        right: 30px;
        top: 80px;
        z-index: 3;

        width: 200px;
        background-color: var(--verde1);
        padding: 5px 0 10px 0;


        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .underline{
        margin: 10px 0 5px 0;
    }

}